<div id="<%= dom_id question %>">
  <p>
    <strong>Title:</strong>
    <%= question.title %>
  </p>

  <p>
    <strong>Option 1:</strong>
    <%= question.option_1 %>
  </p>

  <p>
    <strong>Option 2:</strong>
    <%= question.option_2 %>
  </p>

  <p>
    <strong>Value 1:</strong>
    <%= question.value_1 %>
  </p>

  <p>
    <strong>Value 2:</strong>
    <%= question.value_2 %>
  </p>

</div>
